[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.12"

[scripts]
exe = "pyinstaller --onefile --windowed set_config.py"
